<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="300">
        <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Enriqueta">
        <link rel="stylesheet" type="text/css"
            href="https://fonts.googleapis.com/css?family=Exo">
        <link rel= "stylesheet" type= "text/css" href=
                "{{ url_for('static',filename='style.css') }}">
        <link rel="shortcut icon"
              href="{{ url_for('static', filename='favicon.ico') }}">
        <title>UbiSysPy rendszeradatok és grafikonok</title>
    </head>
    <body>
        <h1>Rendszeradatok</h1>
            <p> {{ text | safe }} </p>
        <h1>Grafikonok</h1>
            <div id="chart" align="center">
                <p style="text-align:left">A pufferelt és a gyorsítórárazott
                    memória felhasználható, szabad memória.</p>
                <embed type="image/svg+xml" width="49%" alt="RAM grafikon"
                       style="margin:10px 2px" src= {{ ram | safe }} />
                <embed type="image/svg+xml" width="49%" alt="swap grafikon"
                       style="margin:10px 2px" src= {{ swap | safe }} />
                <embed type="image/svg+xml" width="49%"
                       alt="I/O adatmennyiség grafikon"
                       style="margin:10px 2px" src= {{ io_mbs | safe }} />
                <embed type="image/svg+xml" width="49%"
                       alt="I/O kérelmek grafikon"
                       style="margin:10px 2px" src= {{ io_db | safe }} />
                <embed type="image/svg+xml" width="49%"
                       alt="CPU grafikon"
                       style="margin:10px 2px" src= {{ cpu | safe }} />
            </div>
    </body>
</html>
